div#canvas-frame {
    border: 1px solid white;
    cursor: pointer;
    width: 900px;
    height: 600px;
    background-color: #222222;
    overflow: hidden;
    position: fixed;
    top:0;

}
div#list-frame {
    border: 1px solid black;
    cursor: pointer;
    width: 450px;
    height: 600px;
    padding: 20px;
    position: fixed;
    left: 900px;
}
.list{
	font-size: 20px;
	margin: 10px;
}
div#back{
    position: fixed;
    z-index: 100;
    top:20px;
    left:20px;
    width: 50px;
    height: 50px;
    color: white;
    display: none
}
#books{
	/*border: 3px solid red;*/
	position: fixed;
    z-index: 100;
 
    width: 0px;
    height: 0px;
 
}
.book{
	/*border: 3px solid red;*/
	position: relative;
    z-index: 100;
    	    width: 75px;
    height: 72px;

    left: 10px;
    display: inline-block;
 
}
.book-img{
    width: 52px;
    height: 70px;
}
/*#element-frame{
    border: 1px solid white;
    cursor: pointer;
    width: 900px;
    height: 600px;
    background-color: #222222;
    overflow: hidden;
    position: fixed;
    top:0;	
}*/