div#canvas-frame {
    cursor: pointer;
    width: 0px;
    height: 0px;
    background-color: #222222;
    overflow: hidden;
    position: fixed;
    top:0;
    z-index: 0;
}
.sidebar{
    padding: 20px;
    position: fixed;  
    z-index: 200;
    display: none;
    background-color: rgba(210,200,200,0.8);
    border-radius:10px;
    overflow-y:auto;
    box-shadow: 10px 10px 10px rgba(20,0,0,0.5);
}

    
.list{
	font-size: 20px;
	margin: 10px;
}
div#back{
    position: fixed;
    z-index: 100;
    top:20px;
    left:20px;
    width: 50px;
    height: 50px;
    color: white;
    display: none; 
}
#books{
	position: fixed;
    z-index: 100;
    width: 0px;
    height: 0px;
    left: 500px;
    display: none; 
}
.book{
	position: relative;
    padding: 20px
    z-index: 100;
    left: 0px;
    display: inline-block;

}
.book-img{
    position: relative;
    /*border: 3px solid red;*/
}
.button{
    /*background-color: #dddddd;*/
    /*border: 3px solid red;*/
    position: absolute;
    z-index: 200;
    display: none; 
    font-weight: bold;
    /*padding: 20px;*/
    text-align: center;
    color: white;
    text-shadow: 3px 3px 10px rgba(0,0,0,0.8);


}
#like-button{
background-color: rgba(0,0,0,0.8);
}
.read-state{
    position: absolute;
    z-index: 200;   
}